J210lab2ShvetsovWebClient/src/conf/xml-resources/web-service-references/IDemo/wsdl/localhost_8080/J210lab2Shvetsov-war/IDemo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web.lab2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web.lab2/" name="IDemo">
<types>
<xsd:schema>
<xsd:import namespace="http://web.lab2/" schemaLocation="http://localhost:8080/J210lab2Shvetsov-war/IDemo?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="getMessage">
<part name="parameters" element="tns:getMessage"/>
</message>
<message name="getMessageResponse">
<part name="parameters" element="tns:getMessageResponse"/>
</message>
<message name="getAllMessage">
<part name="parameters" element="tns:getAllMessage"/>
</message>
<message name="getAllMessageResponse">
<part name="parameters" element="tns:getAllMessageResponse"/>
</message>
<portType name="IDemoImpl">
<operation name="add">
<input wsam:Action="http://web.lab2/IDemoImpl/addRequest" message="tns:add"/>
<output wsam:Action="http://web.lab2/IDemoImpl/addResponse" message="tns:addResponse"/>
</operation>
<operation name="getMessage">
<input wsam:Action="http://web.lab2/IDemoImpl/getMessageRequest" message="tns:getMessage"/>
<output wsam:Action="http://web.lab2/IDemoImpl/getMessageResponse" message="tns:getMessageResponse"/>
</operation>
<operation name="getAllMessage">
<input wsam:Action="http://web.lab2/IDemoImpl/getAllMessageRequest" message="tns:getAllMessage"/>
<output wsam:Action="http://web.lab2/IDemoImpl/getAllMessageResponse" message="tns:getAllMessageResponse"/>
</operation>
</portType>
<binding name="IDemoImplPortBinding" type="tns:IDemoImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IDemo">
<port name="IDemoImplPort" binding="tns:IDemoImplPortBinding">
<soap:address location="http://localhost:8080/J210lab2Shvetsov-war/IDemo"/>
</port>
</service>
</definitions>